---
version: 3

images:
  base_image:
    name: {{ eigenstate_ee_base_image }}

dependencies:
  galaxy: requirements.yml
  system: bindep.txt
  python: python-requirements.txt

additional_build_steps:
  append_final:
    - RUN mkdir -p /etc/ipa && chgrp -R 0 /etc/ipa && chmod -R g+rwX /etc/ipa
    - RUN mkdir -p /runner/env/ipa && chgrp -R 0 /runner/env/ipa && chmod -R g+rwX /runner/env/ipa
