apiVersion: v1
kind: Secret
metadata:
  name: {{ eigenstate_k8s_tls_secret_name | to_json }}
  namespace: {{ eigenstate_k8s_tls_namespace | to_json }}
  labels:
{% for key, value in eigenstate_k8s_tls_labels | dictsort %}
    {{ key }}: {{ value | string | to_json }}
{% endfor %}
  annotations:
{% for key, value in eigenstate_k8s_tls_effective_annotations | dictsort %}
    {{ key }}: {{ value | string | to_json }}
{% endfor %}
type: kubernetes.io/tls
data:
  tls.crt: {{ eigenstate_k8s_tls_certificate | b64encode | to_json }}
  tls.key: {{ eigenstate_k8s_tls_private_key | b64encode | to_json }}
{% if eigenstate_k8s_tls_ca_certificate | length > 0 %}
  ca.crt: {{ eigenstate_k8s_tls_ca_certificate | b64encode | to_json }}
{% endif %}
