apiVersion: v1
kind: Secret
metadata:
  name: {{ eigenstate_k8s_secret_name | to_json }}
  namespace: {{ eigenstate_k8s_secret_namespace | to_json }}
  labels:
{% for key, value in eigenstate_k8s_secret_labels | dictsort %}
    {{ key }}: {{ value | string | to_json }}
{% endfor %}
  annotations:
{% for key, value in eigenstate_k8s_secret_effective_annotations | dictsort %}
    {{ key }}: {{ value | string | to_json }}
{% endfor %}
type: {{ eigenstate_k8s_secret_type | to_json }}
stringData:
{% for key, value in eigenstate_k8s_secret_data | dictsort %}
  {{ key }}: "REDACTED"
{% endfor %}
