apiVersion: v1
kind: Secret
metadata:
  name: {{ eigenstate_keytab_secret_name | to_json }}
  namespace: {{ eigenstate_keytab_secret_namespace | to_json }}
  labels:
{% for key, value in eigenstate_keytab_secret_labels | dictsort %}
    {{ key }}: {{ value | string | to_json }}
{% endfor %}
  annotations:
{% for key, value in eigenstate_keytab_secret_effective_annotations | dictsort %}
    {{ key }}: {{ value | string | to_json }}
{% endfor %}
type: Opaque
stringData:
  {{ eigenstate_keytab_secret_key }}: "REDACTED"
